<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>变分法</string>
		<string>cfd</string>
		<string>cs</string>
		<string>fenics</string>
		<string>cfd-phthon</string>
		<string>有限元</string>
		<string>comsol</string>
		<string>多相流</string>
		<string>Continuum Mechanics</string>
		<string>基础知识</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Continuum Mechanics</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.79545403</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>cfd</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.79545099</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>cfd-phthon</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.795452</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>comsol</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.79545301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>cs</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.795452</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>fenics</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.795452</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>变分法</key>
			<dict>
				<key>lastModification</key>
				<real>523496611.84728801</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>基础知识</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.79545403</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>多相流</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.79545301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>有限元</key>
			<dict>
				<key>lastModification</key>
				<real>523496577.79545301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-01-01-sample-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709198</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-01-Syntax.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709299</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-19-summary.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315508.986669</real>
				<key>lastModification</key>
				<real>523315508.986669</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>2017-01-20-intro1.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315508.99651098</real>
				<key>lastModification</key>
				<real>523315508.99651098</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>2017-01-20-intro2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315508.99814802</real>
				<key>lastModification</key>
				<real>523315508.99814802</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>2017-02-12-intro3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315508.999336</real>
				<key>lastModification</key>
				<real>523315508.999336</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>2017-06-05-PF.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315509.00083101</real>
				<key>lastModification</key>
				<real>523315509.00083101</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>2017-06-06-intro13.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315509.003326</real>
				<key>lastModification</key>
				<real>523315509.003326</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>82</integer>
				</dict>
			</dict>
			<key>2017-08-01-variations.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523496616.42179799</real>
				<key>lastModification</key>
				<real>523496616.42179799</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>97</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>521602181.02618802</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-08-01-variations.md</string>
		</array>
		<array>
			<string>2016-01-01-sample-post.md</string>
		</array>
		<array>
			<string>2017-01-01-Syntax.md</string>
		</array>
		<array>
			<string>2017-01-19-summary.md</string>
		</array>
		<array>
			<string>2017-01-20-intro1.md</string>
		</array>
		<array>
			<string>2017-02-12-intro3.md</string>
		</array>
		<array>
			<string>2017-01-20-intro2.md</string>
		</array>
		<array>
			<string>2017-06-06-intro13.md</string>
		</array>
		<array>
			<string>2017-06-05-PF.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>13</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>97</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
