<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>2016-01-01-sample-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709198</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-01-Syntax.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709299</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-19-summary.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315508.986669</real>
				<key>lastModification</key>
				<real>523315508.986669</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>2017-01-20-intro1.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315508.99651098</real>
				<key>lastModification</key>
				<real>523315508.99651098</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>2017-01-20-intro2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315508.99814802</real>
				<key>lastModification</key>
				<real>523315508.99814802</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>2017-02-10-intro2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731738.54009902</real>
				<key>lastModification</key>
				<real>522731738.54009902</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>2017-02-11-intro2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731738.56089801</real>
				<key>lastModification</key>
				<real>522731738.56089801</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>2017-02-12-intro3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315508.999336</real>
				<key>lastModification</key>
				<real>523315508.999336</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>2017-02-13-intro4.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731808.27938998</real>
				<key>lastModification</key>
				<real>522731808.27938998</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>2017-02-14-intro5.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731808.28153902</real>
				<key>lastModification</key>
				<real>522731808.28153902</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>2017-03-24-intro6.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731808.28318697</real>
				<key>lastModification</key>
				<real>522731808.28318697</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>68</integer>
				</dict>
			</dict>
			<key>2017-03-25-intro7.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731808.28507298</real>
				<key>lastModification</key>
				<real>522731808.28507298</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>2017-03-26-intro8.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731808.28751498</real>
				<key>lastModification</key>
				<real>522731808.28751498</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>70</integer>
				</dict>
			</dict>
			<key>2017-03-31-intro.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731822.39493698</real>
				<key>lastModification</key>
				<real>522731822.39493698</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>2017-05-23-intro9.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731845.26931202</real>
				<key>lastModification</key>
				<real>522731845.26931202</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>72</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro10.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731845.27162701</real>
				<key>lastModification</key>
				<real>522731845.27162701</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro11.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731845.27530301</real>
				<key>lastModification</key>
				<real>522731845.27530301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>74</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro12.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731845.28049999</real>
				<key>lastModification</key>
				<real>522731845.28049999</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>2017-06-05-PF.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315509.00083101</real>
				<key>lastModification</key>
				<real>523315509.00083101</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>2017-06-06-intro13.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523315509.003326</real>
				<key>lastModification</key>
				<real>523315509.003326</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>82</integer>
				</dict>
			</dict>
			<key>2017-06-07-intro14.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522731879.09813702</real>
				<key>lastModification</key>
				<real>522731879.09813702</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>76</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>521602181.02618802</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-01-01-sample-post.md</string>
		</array>
		<array>
			<string>2017-01-01-Syntax.md</string>
		</array>
		<array>
			<string>2017-01-19-summary.md</string>
		</array>
		<array>
			<string>2017-01-20-intro1.md</string>
		</array>
		<array>
			<string>2017-02-11-intro2.md</string>
		</array>
		<array>
			<string>2017-02-12-intro3.md</string>
		</array>
		<array>
			<string>2017-02-14-intro5.md</string>
		</array>
		<array>
			<string>2017-02-13-intro4.md</string>
		</array>
		<array>
			<string>2017-03-24-intro6.md</string>
		</array>
		<array>
			<string>2017-02-10-intro2.md</string>
		</array>
		<array>
			<string>2017-03-26-intro8.md</string>
		</array>
		<array>
			<string>2017-03-25-intro7.md</string>
		</array>
		<array>
			<string>2017-05-23-intro9.md</string>
		</array>
		<array>
			<string>2017-05-24-intro10.md</string>
		</array>
		<array>
			<string>2017-05-24-intro11.md</string>
		</array>
		<array>
			<string>2017-01-20-intro2.md</string>
		</array>
		<array>
			<string>2017-03-31-intro.md</string>
		</array>
		<array>
			<string>2017-05-24-intro12.md</string>
		</array>
		<array>
			<string>2017-06-06-intro13.md</string>
		</array>
		<array>
			<string>2017-06-05-PF.md</string>
		</array>
		<array>
			<string>2017-06-07-intro14.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>9</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>82</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
