<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>2016-01-01-sample-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709198</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-01-Syntax.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709299</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-19-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709401</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-20-intro1.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709901</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-20-intro2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711499</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-10-intro2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711201</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-11-intro2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02709901</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-12-intro3.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710003</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-13-intro4.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710098</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-14-intro5.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710098</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-21-f1.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710199</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-22-f2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710199</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-f3.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710402</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-f4.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-f5.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710301</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-f6.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710497</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-f7.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710402</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-23-f8.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02710497</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-24-intro6.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711099</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-25-intro7.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711302</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-26-intro8.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711302</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-31-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711803</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-01-c1.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522388519.95901299</real>
				<key>lastModification</key>
				<real>522388519.95901299</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>2017-04-01-c2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522388519.973589</real>
				<key>lastModification</key>
				<real>522388519.973589</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>2017-04-01-c3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522388519.98590702</real>
				<key>lastModification</key>
				<real>522388519.98590702</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>2017-04-01-c4.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522388519.99481201</real>
				<key>lastModification</key>
				<real>522388519.99481201</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>2017-04-01-c5.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522388519.99570501</real>
				<key>lastModification</key>
				<real>522388519.99570501</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>54</integer>
				</dict>
			</dict>
			<key>2017-05-01-c0.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522388519.99684399</real>
				<key>lastModification</key>
				<real>522388519.99684399</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>2017-05-04-dns.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>521876505.118478</real>
				<key>lastModification</key>
				<real>521876505.118478</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>2017-05-04-dns2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>521876505.12248099</real>
				<key>lastModification</key>
				<real>521876505.12248099</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>2017-05-04-dns3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>521876505.12046701</real>
				<key>lastModification</key>
				<real>521876505.12046701</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>2017-05-05-dns4.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>521876505.13094699</real>
				<key>lastModification</key>
				<real>521876505.13094699</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>2017-05-23-intro9.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711397</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro10.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711397</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro11.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711499</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-24-intro12.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711999</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-05-PF.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02712101</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-06-intro13.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02711999</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-07-intro14.md</key>
			<dict>
				<key>lastModification</key>
				<real>521405418.02712101</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>521602181.02618802</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-01-01-sample-post.md</string>
		</array>
		<array>
			<string>2017-01-01-Syntax.md</string>
		</array>
		<array>
			<string>2017-01-19-summary.md</string>
		</array>
		<array>
			<string>2017-01-20-intro1.md</string>
		</array>
		<array>
			<string>2017-02-11-intro2.md</string>
		</array>
		<array>
			<string>2017-02-12-intro3.md</string>
		</array>
		<array>
			<string>2017-02-14-intro5.md</string>
		</array>
		<array>
			<string>2017-02-13-intro4.md</string>
		</array>
		<array>
			<string>2017-03-21-f1.md</string>
		</array>
		<array>
			<string>2017-03-22-f2.md</string>
		</array>
		<array>
			<string>2017-03-23-f5.md</string>
		</array>
		<array>
			<string>2017-03-23-f4.md</string>
		</array>
		<array>
			<string>2017-03-23-f3.md</string>
		</array>
		<array>
			<string>2017-03-23-f7.md</string>
		</array>
		<array>
			<string>2017-03-23-f6.md</string>
		</array>
		<array>
			<string>2017-03-23-f8.md</string>
		</array>
		<array>
			<string>2017-04-01-c1.md</string>
		</array>
		<array>
			<string>2017-04-01-c2.md</string>
		</array>
		<array>
			<string>2017-04-01-c3.md</string>
		</array>
		<array>
			<string>2017-04-01-c4.md</string>
		</array>
		<array>
			<string>2017-04-01-c5.md</string>
		</array>
		<array>
			<string>2017-05-01-c0.md</string>
		</array>
		<array>
			<string>2017-05-04-dns.md</string>
		</array>
		<array>
			<string>2017-03-24-intro6.md</string>
		</array>
		<array>
			<string>2017-05-04-dns2.md</string>
		</array>
		<array>
			<string>2017-05-04-dns3.md</string>
		</array>
		<array>
			<string>2017-02-10-intro2.md</string>
		</array>
		<array>
			<string>2017-03-26-intro8.md</string>
		</array>
		<array>
			<string>2017-03-25-intro7.md</string>
		</array>
		<array>
			<string>2017-05-05-dns4.md</string>
		</array>
		<array>
			<string>2017-05-23-intro9.md</string>
		</array>
		<array>
			<string>2017-05-24-intro10.md</string>
		</array>
		<array>
			<string>2017-05-24-intro11.md</string>
		</array>
		<array>
			<string>2017-01-20-intro2.md</string>
		</array>
		<array>
			<string>2017-03-31-intro.md</string>
		</array>
		<array>
			<string>2017-05-24-intro12.md</string>
		</array>
		<array>
			<string>2017-06-06-intro13.md</string>
		</array>
		<array>
			<string>2017-06-05-PF.md</string>
		</array>
		<array>
			<string>2017-06-07-intro14.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>7</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>55</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
