<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-04-02-r.md</key>
			<dict>
				<key>lastModification</key>
				<real>522015459.81128597</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-03-ruby.md</key>
			<dict>
				<key>lastModification</key>
				<real>522015459.81128699</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-17-matlab.md</key>
			<dict>
				<key>lastModification</key>
				<real>522015459.81128699</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-08-web.md</key>
			<dict>
				<key>lastModification</key>
				<real>522015459.81128901</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-16-git.md</key>
			<dict>
				<key>lastModification</key>
				<real>522015459.811288</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-23-latex.md</key>
			<dict>
				<key>lastModification</key>
				<real>522015459.811288</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-02-markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>522015459.81128901</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-01-bash.md</key>
			<dict>
				<key>lastModification</key>
				<real>522015491.13029999</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-04-02-r.md</string>
		</array>
		<array>
			<string>2016-04-17-matlab.md</string>
		</array>
		<array>
			<string>2016-04-03-ruby.md</string>
		</array>
		<array>
			<string>2016-10-23-latex.md</string>
		</array>
		<array>
			<string>2016-10-16-git.md</string>
		</array>
		<array>
			<string>2016-10-08-web.md</string>
		</array>
		<array>
			<string>2017-02-02-markdown.md</string>
		</array>
		<array>
			<string>2017-07-01-bash.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
