<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-08-11-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>525328518.05084598</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-08-12-classification.md</key>
			<dict>
				<key>lastModification</key>
				<real>525328537.50701898</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-08-13-PHYSICAL PROBLEM.md</key>
			<dict>
				<key>lastModification</key>
				<real>525405705.62144899</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>2017-08-15-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525447675.83007401</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>2017-08-16-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525494930.07295197</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>2017-08-17-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525494067.77820802</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>2017-08-18-elliptic PDE.md</key>
			<dict>
				<key>lastModification</key>
				<real>525664576.45102102</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>the domain of dependence and the range of influence of every point is the entire solution - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>525494955.61055702</real>
				<key>lastModification</key>
				<real>525494955.61055702</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>无标题 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>525494957.88884598</real>
				<key>lastModification</key>
				<real>525494957.88884598</real>
				<key>version</key>
				<dict>
					<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
					<integer>58</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-08-11-intro.md</string>
		</array>
		<array>
			<string>2017-08-12-classification.md</string>
		</array>
		<array>
			<string>2017-08-13-PHYSICAL PROBLEM.md</string>
		</array>
		<array>
			<string>2017-08-15-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-16-elliptic PDE.md</string>
		</array>
		<array>
			<string>无标题 - 2.md</string>
		</array>
		<array>
			<string>the domain of dependence and the range of influence of every point is the entire solution - 2.md</string>
		</array>
		<array>
			<string>2017-08-17-elliptic PDE.md</string>
		</array>
		<array>
			<string>2017-08-18-elliptic PDE.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>572da3dbd8b601e9062c792d3dbe7d17969cc6ccddacc4eb32b17a0d312b7baa</key>
			<integer>65</integer>
		</dict>
	</dict>
</dict>
</plist>
